h1 {
  text-align: center;
  color: black;
  font-family: "Consolas", "Courier New", monospace;
  margin-bottom: 0.3em;
}
h2 {
  text-align: center;
  color: black;
  font-family: "Consolas", "Courier New", monospace;
  margin-bottom: 0.3em;
}
h3 {
  text-align: center;
  color: black;
  font-family: "Consolas", "Courier New", monospace;
  margin-bottom: 0.3em;
}
div {
  text-align: center;
}
div a {
  text-align: center;
  margin-right: 0.1em;
  color: darkgray;
  font-family: "Consolas", "Courier New", monospace;
  margin-bottom: 0.2em;
}
