body {
  background-color: beige;
  text-shadow: darkgray 0px 1px 0px;
  font-family: "Consolas", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
}
h1 {
  text-align: center;
  color: black;
  font-family: "Consolas", "Courier New", monospace;
  margin-bottom: 0.3em;
  text-decoration: underline;
}
h2 {
  text-align: center;
  color: black;
  font-family: "Consolas", "Courier New", monospace;
  margin-bottom: 0.3em;
  text-decoration: underline;
}
