body {
  background-color: #f9f9f9;
  background-image: url(images/bg3.png);
  background-position: center top;
  background-repeat: repeat;
  text-shadow: #ffffff 0px 1px 0px;
  font-family: "Georgia", "Times", serif;
  -webkit-font-smoothing: antialiased;
}
h1 {
  text-align: center;
  font-size: 1em;
  color: #009;
  margin-bottom: 0.3em;
  text-decoration: underline;
}
